[user]
  name = Connor Couetil
  email = couetilc@gmail.com
  username = couetilc
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
[init]
  defaultBranch = main
[includeIf "hasconfig:remote.*.url:https://github.com/couetilc/dotfiles"]
  path = ~/.dotfiles.gitconfig
